<div class="examples">
<%= link_to "Easy",easy_path, class: "btn btn-success" %>
<%= link_to "Medium",medium_path, class: "btn btn-warning" %>
<%= link_to "Hard",hard_path, class: "btn btn-danger" %>
<%= link_to "Evil",evil_path, class: "btn btn-danger" %>
</div>