<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
Create by <a href="mailto:abambrah@uwaterloo.ca">Ajunpreet Bambrah </a>
<br />
This sample app was made for an assignment for the University of Waterloo to solve sudoku puzzles.
</p>
